*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
}
h1{
    text-align: center;
    background-color: black;
    color: white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 40px;
}
.header{
    background-image: var(--bs-gradient);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__item{
    color: white;
    transform: (1);
}
.header__item:hover{
    height: 20px;
    transform: scale(1);
    color:brown
}
.header__nav{
    width: 450px;
    padding-right: 1rem;
    margin-top: 2rem;
}
.header__list{
    color: white;
    font-size: 20px;
    text-decoration: overline;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-color: black;
    display: flex;
    justify-content: space-between;
    list-style: none;

}
.imag_logo{
    width: 100px;
}
.hero{
    color: white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 17px;
    margin: 1rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.imag_principal{
    width: 450px;
}
.integrantes_conteiner{
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    margin: 1rem;
}
.integrantes{
    color: white;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;     
    text-align: center;
}
.integrantes p{
    margin-top: 1rem;
}
.nombres_de{
    color: white;
    text-decoration: none;
}
.nombres_de:hover{
    height: 20px;
    transform: scale(1);
    color:brown
}
h2{
    color: brown;
    text-align: center;
    font-size: 25px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
}
.section_video{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-image: var(--bs-gradient);
}
.suscribir_conteiner{
    margin: 1rem 2rem;
}
.form_suscribir{
    display: flex;
    justify-content: center;   
}
.form_suscribir button{
    margin-left: 1rem;
    padding: 4px;
    background-color: rgb(206, 15, 15);
    color: white;
    font-weight: bold;
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
}
.form_suscribir input{
    padding: 4px;
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
}
footer{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.redes_titulo{
    color: rgb(214, 28, 28);
    background-image: var(--bs-gradient);
    font-size: 20px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: underline;
    text-align: center;
    width: 100%;
    padding: 10px;
}
.redes__nav{
    display: flex;
    justify-content: space-around;
    align-items: center;     
}
.redes_sociales{
    padding: 3rem;
    position:relative;
    width: 50px; 
    height: 50px;
    transition: all 1s;  
}
.redes_sociales:hover{
    height: 70px;
    width: 70px;
    padding: 10px;
}
/*banda*/
.informacion_general{
    color: white;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-style: italic;
    line-height: 1.5;
    margin: 1rem;
}
.imagen_banda{
    display: flex;
    justify-content: center;
    margin: 2rem;
    padding: 1rem;
    overflow: hidden;
}
.imag_banda{
    width: 700px;
}
.imagen_banda p{
    color: white;
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 20px;
    background-color: red;
}
.fotos_contenedor{
    display: flex;
    justify-content: space-around;
    padding: 2rem;
    margin: 1rem;
}
.fotos_contenedor2{
    display: flex;
    justify-content: space-around;
    padding: 2rem;
    margin: 1rem;
} 
.imag_micael{
    width: 350px;
}
.imag_macarena{
    width: 250px;
}  
.imag_fran{
    width: 375px;
}
.imag_franco{
    width: 300px;
}
.fotos_de{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
    padding: 1rem;
}
.fotos_de p{
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-decoration: none;
}
.fotos_de a{
    text-decoration: none;
    color: red;
}


/*discografia*/

.album__contenedor{
    display: flex;
    justify-content: space-evenly;
}
.titulo_h3{
    color: white;
    text-align: center;
}
.imag_album{
    width: 350px;
}
.titulo_h3_sencillo{
    color: rgb(214, 28, 28);
    background-image: var(--bs-gradient);
    font-size: 20px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: underline;
    text-align: center;
    width: 100%;
    padding: 10px;
}
ol li{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin: 1rem;
    padding: 1rem;
}
.sencillo_{
display: flex;
justify-content: space-evenly;
margin: 1rem;
}
.titulo_sencillo{
    color: lightskyblue;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    font-size: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.titulo_sencillo a{
    text-decoration: none;
    color: red;
}
.sencillo_misil{
    display: flex;
    justify-content: space-evenly;
    margin: 1rem;    
}
/*shows*/

.show_conteiner{
    display: flex;
    justify-content: space-evenly;
    margin: 1rem;
    padding: 1rem;
}
.foto_banner{
    width: 350px;
}
.texto_fecha{
    color: white;
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    padding: 1rem;
    margin: 1rem;
    line-height: 1.5;
    width: 300px;
}
.titulo-de-show{
    color: rgb(214, 28, 28);
    background-image: var(--bs-gradient);
    font-size: 35px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: underline;
    text-align: center;
    width: 100%;
    padding: 10px;
}
.foto__show{
    margin: 2rem;
}
.vivo_videos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    padding: 1rem;
}
    
/* media queries (estilos moviles) */

@media screen and (max-width: 768px){
    .hero{
        text-align: center;
    }
    .header__list{
        display: flex;
    }
    .informacion_general{
        font-size: 17px;
    }
    .fotos_de p{
        font-size: 17px;
    }
    .texto_fecha{
        font-size: 20px;
    }
    .integrantes_conteiner{
        display: flex;
    }
}
@media screen and (max-width: 426px){
    .integrantes_conteiner{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .hero_contenedor p{
        font-size: 15px;
    }
    .header__list{
        font-size: 17px;
    }
    .video_inicio{
        width: 200px;
        display: flex;
        justify-content: center
    }
    .imag_principal{
        width: 250px;
    }
    .imag_logo{
        width: 50px;
    }
    .imag_banda{
        width: 300px;
        overflow: hidden;
    }
    .imag_banda p{
        font-size: 15px;
    }
    .fotos_contenedor{
        overflow: hidden;
        display: flex;
        flex-direction: column;
    }
    .fotos_contenedor2{
        overflow: hidden;
        display: flex;
        flex-direction: column;
    }
    .imag_micael{
        width: 200px;
        overflow: hidden;
        margin: 0px;
    }
    .imag_macarena{
        width: 200px;
        overflow: hidden;
        margin: 0px;
    }  
    .imag_fran{
        width: 200px;
        overflow: hidden;
        margin: 0px;
    }
    .imag_franco{
        width: 200px;
        overflow: hidden;
        margin: 0px;
    }
    .informacion_general{
        font-size: 13px;
        overflow: hidden;
    }
    .imag_album{
        width: 175px;
    }
    ol li{
        
        margin: 5px;
        padding: 5px;
        font-size: 15px;
        font-style: italic;
    }
    .sencillo_{
        display: flex;
        flex-direction: column;
        justify-content: center;
        overflow: hidden;
    }
    .titulo_sencillo{
        font-size: 15px;
        text-align: center;
    }
    .sencillo_misil{
        display: flex;
        flex-direction: column;
        overflow: hidden;
    }
    h1{
        font-size: 25px;
    }
    .foto_banner{
        width: 150px;
        margin: 0px;
    }
    .texto_fecha{
        font-size: 15px;
        margin: 0px;
    }
    .titulo-de-show{
        font-size: 25px;
    }
}
