*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
}
h1{
    text-align: center;
    background-color: black;
    color: white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 40px;
}
main{
    overflow: hidden;
}
footer{
    overflow: hidden;
}
.header{
    background-image: var(--bs-gradient);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__item{
    color: white;
    transform: (1);
}
.header__item:hover{
    height: 20px;
    transform: scale(1);
    color:brown
}
.header__nav{
    width: 450px;
    padding-right: 1rem;
    margin-top: 2rem;
}
.header__list{
    color: white;
    font-size: 20px;
    text-decoration: overline;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-color: black;
    display: flex;
    justify-content: space-between;
    list-style: none;

}
.imag_logo{
    width: 100px;
}