body{
    background-color: black;}
    footer{
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
    }
    .redes_titulo{
        color: rgb(214, 28, 28);
        background-image: var(--bs-gradient);
        font-size: 20px;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        text-decoration: underline;
        text-align: center;
        width: 100%;
        padding: 10px;
    }
    .redes__nav{
        display: flex;
        justify-content: space-around;
        align-items: center;     
    }
    .redes_sociales{
        padding: 3rem;
        position:relative;
        width: 50px; 
        height: 50px;
        transition: all 1s;  
    }
    .redes_sociales:hover{
        height: 70px;
        width: 70px;
        padding: 10px;
    }